/**
 * ヘッダー用CSS - 本番準拠
 */

/* ======================
   Header Container
   ====================== */
.header {
	height: 80px;
	line-height: 80px;
	background-color: #fff;
	width: 100%;
	position: relative;
	z-index: 100;
}

.header .container {
	max-width: 1144px;
	width: 89.5%;
	margin: 0 auto;
}

.header .h_top-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

/* ======================
   Logo
   ====================== */
.logo-mark {
	display: flex;
	align-items: center;
	margin-right: 40px;
}

.logo-mark img {
	width: 158px;
	height: 42px;
}

/* ======================
   Left Navigation
   ====================== */
.h_left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.h_l_nav ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.h_l_nav ul li {
	margin-right: 32px;
	white-space: nowrap;
}

.h_l_nav ul li:last-child {
	margin-right: 0;
}

.h_l_nav ul li a {
	font-size: 0.875em;
	font-weight: bold;
	color: #66657c;
	text-decoration: none;
	transition: color 0.3s ease;
}

.h_l_nav ul li a:hover,
.h_l_nav ul li a.current {
	color: #00aed4;
}

/* ======================
   Right Navigation (CTA Buttons)
   ====================== */
.h_r_nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.h_r_nav ul li {
	margin-left: 12px;
}

/* 料金表をもらうボタン */
.h_r_nav .btn-price {
	display: inline-block;
	height: 44px;
	line-height: 44px;
	padding: 0 24px;
	background-color: #fff;
	border: 2px solid #ff6262;
	border-radius: 30px;
	color: #ff6262;
	font-size: 0.875em;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	transition: all 0.3s ease;
	box-shadow: none;
}

.h_r_nav .btn-price:hover {
	background-color: #ff6262;
	color: #fff;
}

/* 資料をもらうボタン */
.h_r_nav .btn-dl {
	display: inline-block;
	height: 44px;
	line-height: 44px;
	padding: 0 24px;
	background-color: #ff6262;
	border: 2px solid #ff6262;
	border-radius: 30px;
	color: #fff;
	font-size: 0.875em;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	transition: all 0.3s ease;
	box-shadow: none;
}

.h_r_nav .btn-dl:hover {
	background-color: #e45959;
	border-color: #e45959;
	color: #fff;
}

/* ======================
   Hamburger Menu (SP)
   ====================== */
.navbar-burger {
	cursor: pointer;
	display: none;
	flex-flow: column;
	justify-content: space-around;
	height: 26px;
	width: 27px;
	margin: 0;
	z-index: 10;
	position: absolute;
	right: 6%;
	top: calc(50% - 13px);
}

.navbar-burger span {
	background-color: #000;
	display: block;
	height: 2px;
	transform-origin: center;
	transition: all 0.3s ease;
	width: 100%;
	border-radius: 3px;
}

.navbar-burger.is-active span:nth-child(1) {
	transform: rotate(45deg);
	position: relative;
	top: 8px;
}

.navbar-burger.is-active span:nth-child(2) {
	opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
	transform: rotate(-45deg);
	position: relative;
	top: -8px;
}

/* ======================
   SP Menu
   ====================== */
.navbar-menu {
	visibility: hidden;
	opacity: 0;
	width: 100%;
	position: fixed;
	overflow: auto;
	height: 100%;
	left: 0;
	top: 52px;
	transition: all 0.5s ease;
	z-index: 100;
	padding: 20px 24px 36px;
	background-color: #fff;
}

.navbar-menu.is-active {
	opacity: 1;
	visibility: visible;
}

.navbar-menu .inner {
	padding-bottom: 100px;
}

.h_nav_sp .btn {
	width: 100%;
	margin: 0 auto;
	max-width: 328px;
	height: 40px;
	line-height: 40px;
	display: block;
	background-color: #ff6262;
	border-radius: 30px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.h_nav_sp dl {
	margin-top: 20px;
}

.h_nav_sp dl dd {
	padding: 20px 0;
	border-bottom: solid 1px #f1f5f9;
	font-weight: bold;
	line-height: 2;
	letter-spacing: 0.08px;
	text-align: left;
	margin: 0;
}

.h_nav_sp dl dd a {
	color: #66657c;
	text-decoration: none;
}

.h_nav_sp dl dd a:hover {
	color: #00aed4;
}

/* ======================
   Mobile (767px以下)
   ====================== */
@media screen and (max-width: 767px) {
	.pc {
		display: none !important;
	}

	.header {
		height: 52px;
		line-height: 52px;
	}

	.header .container {
		width: 100%;
		padding: 0 6%;
	}

	.header .h_top-block {
		position: relative;
		height: 52px;
	}

	.logo-mark {
		margin-right: 0;
	}

	.logo-mark img {
		width: 100px;
		height: auto;
	}

	.navbar-burger {
		display: flex;
	}
}

/* ======================
   Desktop (768px以上)
   ====================== */
@media screen and (min-width: 768px) {
	.sp {
		display: none !important;
	}
}

/* ======================
   Large Desktop (1280px以上)
   ====================== */
@media only screen and (min-width: 1280px) {
	.header .container {
		max-width: 1144px;
		width: 100%;
	}

	.logo-mark {
		margin-right: 60px;
	}

	.h_l_nav ul li {
		margin-right: 40px;
	}
}
