.secPtrMainVis {
  background: #fff;
  position: relative;
  padding: 80px 40px 40px;
}
.secPtrMainVis:before {
  content: "";
  width: 797px;
  height: 100%;
  background: url(../img/ptr_kv_img_bg.png) no-repeat center left;
  background-size: auto 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
.secPtrMainVis .secTtlWrap {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.secPtrMainVis .secTtlWrap .secTtl {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
}
.secPtrMainVis .mainVisInr {
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  grid-gap: 40px;
  margin-top: 40px;
}
.secPtrMainVis .mainVisInr > * {
  position: relative;
  z-index: 1;
}
.secPtrMainVis .mainVisInr .secLeadWrap {
  padding-left: 0;
  box-sizing: border-box;
  flex: 1;
}
.secPtrMainVis .mainVisInr .secLeadWrap .secLead {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  margin-top: 25px;
  color: #264153;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
}
.secPtrMainVis .mainVisInr .secImg {
  width: 325px;
}
.secPtrMainVis .mainVisInrBtm {
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  margin-top: 10px;
}
.secPtrMainVis .mainVisInrBtm > * {
  position: relative;
  z-index: 1;
}
.secPtrMainVis .mainVisInrBtm .mainVisInrBtmItm {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 125px auto;
  grid-gap: 8px 22px;
  padding: 22px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 15px rgba(185, 214, 222, 0.4);
}
.secPtrMainVis .mainVisInrBtm .mainVisInrBtmItm figure {
  width: 125px;
  grid-column: 1;
  grid-row: 1/3;
}
.secPtrMainVis .mainVisInrBtm .mainVisInrBtmItm figure img {
  width: 100%;
  height: auto;
}
.secPtrMainVis .mainVisInrBtm .mainVisInrBtmItm .mainVisInrBtmItmTtl {
  grid-column: 2/3;
  grid-row: 1;
}
.secPtrMainVis .mainVisInrBtm .mainVisInrBtmItm .secTtl {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  color: #161B1E;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
}
.secPtrMainVis .mainVisInrBtm .mainVisInrBtmItm .mainVisInrBtmItmLead {
  grid-column: 2/3;
  grid-row: 2;
}
.secPtrMainVis .mainVisInrBtm .mainVisInrBtmItm .secLead {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  color: #264153;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
}
.secPtrMainVis .mainVisInrBtm .secImg {
  flex: 1;
}

@media screen and (max-width: 1040px) {
  .secPtrMainVis:before {
    width: 76.6346153846vw;
  }
  .secPtrMainVis .mainVisInr {
    max-width: 100vw;
  }
  .secPtrMainVis .mainVisInr .secImg {
    width: 31.25vw;
  }
  .secPtrMainVis .mainVisInrBtm {
    max-width: 100vw;
  }
  .secPtrMainVis .mainVisInrBtm .mainVisInrBtmItm {
    grid-template-columns: 12.0192307692vw auto;
  }
  .secPtrMainVis .mainVisInrBtm .mainVisInrBtmItm figure {
    width: 12.0192307692vw;
  }
}
@media screen and (max-width: 768px) {
  .secPtrMainVis {
    padding: 48px 16px;
  }
  .secPtrMainVis:before {
    content: "";
    width: 100%;
    height: 100%;
    background: url(../img/sp_ptr_kv_img_bg.png) no-repeat center top;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }
  .secPtrMainVis .secTtlWrap .secTtl {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
  }
  .secPtrMainVis .mainVisInr {
    flex-direction: column-reverse;
    grid-gap: 24px;
    margin-top: 24px;
  }
  .secPtrMainVis .mainVisInr .secLeadWrap {
    width: 100%;
  }
  .secPtrMainVis .mainVisInr .secLeadWrap .secLead {
    margin-top: 0;
    font-size: 15px;
    line-height: 23.6px;
  }
  .secPtrMainVis .mainVisInr .secImg {
    width: 100%;
    text-align: center;
  }
  .secPtrMainVis .mainVisInr .secImg img {
    max-width: 291px;
  }
  .secPtrMainVis .mainVisInrBtm {
    grid-template-columns: 1fr;
    grid-gap: 24px;
    margin-top: 24px;
  }
  .secPtrMainVis .mainVisInrBtm > * {
    position: relative;
    z-index: 1;
  }
  .secPtrMainVis .mainVisInrBtm .mainVisInrBtmItm {
    display: grid;
    grid-template-columns: 72px auto;
    align-items: center;
    grid-gap: 14px 24px;
    padding: 22px;
  }
  .secPtrMainVis .mainVisInrBtm .mainVisInrBtmItm figure {
    width: 72px;
    grid-column: 1;
    grid-row: 1;
  }
  .secPtrMainVis .mainVisInrBtm .mainVisInrBtmItm .mainVisInrBtmItmTtl {
    grid-column: 2/3;
    grid-row: 1;
  }
  .secPtrMainVis .mainVisInrBtm .mainVisInrBtmItm .secTtl {
    font-size: 16px;
  }
  .secPtrMainVis .mainVisInrBtm .mainVisInrBtmItm .mainVisInrBtmItmLead {
    grid-column: 1/3;
    grid-row: 2;
  }
  .secPtrMainVis .mainVisInrBtm .mainVisInrBtmItm .secLead {
    margin-top: 0px;
  }
}
.secPartnerList {
  background-color: #EAF4F7;
  padding-bottom: 160px;
  position: relative;
}
.secPartnerList .secInr {
  max-width: 1040px;
}
.secPartnerList .md-secHead .secTtl {
  color: #112d48;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0;
}
.secPartnerList .md-secHead .secLead {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  color: #264153;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
  margin-top: 20px;
}
.secPartnerList .secPartnerListTabWrap {
  max-width: 456px;
  width: 100%;
  margin: 24px auto 0;
  background-color: #FFFFFF;
  height: 60px;
  border-radius: 30px;
  padding: 8px;
}
.secPartnerList .secPartnerListTabWrap .secPartnerListTab {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.secPartnerList .secPartnerListTabWrap .secPartnerListTab a {
  text-align: center;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  background-color: #FFFFFF;
  font-size: 17px;
  font-weight: 700;
  color: #485E75;
}
.secPartnerList .secPartnerListTabWrap .secPartnerListTab a:hover {
  background-color: #0092B2;
  color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(183, 192, 207, 0.64);
}
.secPartnerList .secPartnerListTabWrap .secPartnerListTab a:first-child {
  border-radius: 22px 0 0 22px;
}
.secPartnerList .secPartnerListTabWrap .secPartnerListTab a:last-child {
  border-radius: 0 22px 22px 0;
}
.secPartnerList .secPartnerListFilterWrap {
  margin-top: 24px;
}
.secPartnerList .secPartnerListFilterWrap .secPartnerListFilter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 12px;
}
.secPartnerList .secPartnerListFilterWrap .secPartnerListFilter a {
  color: #0081A1;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0;
  background-color: #FFFFFF;
  height: 40px;
  border-radius: 40px;
  border: solid 2px #0092B2;
  padding: 0 16px;
  line-height: 36px;
}
.secPartnerList .secPartnerListFilterWrap .secPartnerListFilter a.active {
  background-color: #0092B2;
  color: #FFFFFF;
}
.secPartnerList .ctsBlock {
  overflow: hidden;
  border-radius: 24px;
  padding: 40px 0 20px;
  border: solid 1px #FFFFFF;
  background-color: rgba(255, 255, 255, 0.4);
}
.secPartnerList .ctsBlock + .ctsBlock {
  margin-top: 40px;
}
.secPartnerList .ctsBlock .blockTtl {
  color: #112D48;
  font-size: 29px;
  font-weight: 700;
  line-height: 1;
  box-sizing: border-box;
  text-align: center;
}
.secPartnerList .ctsBlock .blockLead {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  color: #264153;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
}
.secPartnerList .ctsBlock .blockCts {
  padding: 20px 29px;
  box-sizing: border-box;
}
.secPartnerList .ctsBlock .ctsBlank {
  text-align: center;
  padding: 67px 0 40px;
  display: none;
}
.secPartnerList .ctsBlock .ctsBlank.is_show {
  display: block;
}
.secPartnerList .ctsBlock .ctsBlank .ctsBlankTtl {
  font-size: 17px;
  font-weight: 700;
  color: #191817;
}
.secPartnerList .ctsBlock .ctsBlank .ctsBlankLead {
  font-size: 14px;
  font-weight: 400;
  margin-top: 16px;
  color: #413C3A;
}
.secPartnerList .ctsBlock .ctsList {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px 16px;
}
.secPartnerList .ctsBlock .ctsList .listInfo {
  box-sizing: border-box;
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
}
.secPartnerList .ctsBlock .ctsList .listInfo.is_hide {
  display: none;
}
.secPartnerList .ctsBlock .ctsList .listInfo .listItem {
  box-sizing: border-box;
  position: relative;
}
.secPartnerList .ctsBlock .ctsList .listInfo .listItem .itemInr {
  box-sizing: border-box;
}
.secPartnerList .ctsBlock .ctsList .listInfo .listItem .itemInr .itemName {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  color: #161B1E;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}
.secPartnerList .ctsBlock .ctsList .listInfo .listItem .itemInr .itemImg {
  margin-top: 10px;
  max-width: 192px;
}
.secPartnerList .ctsBlock .ctsList .listInfo .listItem .itemInr .itemImg img {
  width: 100%;
  height: auto;
}
.secPartnerList .ctsBlock .ctsList .listInfo .listItem .itemInr .itemLead {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  color: #264153;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: 0;
  margin-top: 16px;
}
.secPartnerList .ctsBlock .ctsList .listInfo .listItem .itemInr .itemUrl {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #0081A1;
  text-decoration: underline;
  margin-top: 16px;
  word-break: break-all;
}
.secPartnerList .ctsBlock .ctsList .listInfo .listItem .itemInr .itemTag {
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  grid-gap: 8px;
}
.secPartnerList .ctsBlock .ctsList .listInfo .listItem .itemInr .itemTag span {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  color: #485E75;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  border: solid 1px #D3D9E5;
  height: 24px;
  padding: 0 12px;
  border-radius: 12px;
}
.secPartnerList .ctsBlock .ctsList .listInfo .listItem .ListBadge {
  width: 86px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.secPartnerList .ctsBlock .ctsList .listInfo .listItem .ListBadge img {
  width: 100%;
  height: auto;
}
.secPartnerList .ctsBlock .ctsList + .ctsListG3 {
  margin-top: 32px;
}
.secPartnerList .ctsBlock .ctsListG3 {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px 16px;
}
.secPartnerList .ctsBlock .ctsListG3 .listInfo {
  box-sizing: border-box;
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
}
.secPartnerList .ctsBlock .ctsListG3 .listInfo.is_hide {
  display: none;
}
.secPartnerList .ctsBlock .ctsListG3 .listInfo .listItem {
  box-sizing: border-box;
  position: relative;
}
.secPartnerList .ctsBlock .ctsListG3 .listInfo .listItem .itemInr {
  box-sizing: border-box;
}
.secPartnerList .ctsBlock .ctsListG3 .listInfo .listItem .itemInr .itemName {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  color: #161B1E;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}
.secPartnerList .ctsBlock .ctsListG3 .listInfo .listItem .itemInr .itemImg {
  max-width: 192px;
  margin: 0 auto;
  margin-top: 10px;
}
.secPartnerList .ctsBlock .ctsListG3 .listInfo .listItem .itemInr .itemImg img {
  width: 100%;
  height: auto;
}
.secPartnerList .ctsBlock .ctsListG3 .listInfo .listItem .itemInr .itemLead {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  color: #264153;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: 0;
  margin-top: 16px;
  padding-bottom: 1em;
  height: 89.6px;
}
.secPartnerList .ctsBlock .ctsListG3 .listInfo .listItem .itemInr .itemUrl {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #0081A1;
  text-decoration: underline;
  margin-top: 16px;
  word-break: break-all;
}
.secPartnerList .ctsBlock .ctsListG3 .listInfo .listItem .itemInr .itemTag {
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  grid-gap: 8px;
}
.secPartnerList .ctsBlock .ctsListG3 .listInfo .listItem .itemInr .itemTag span {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  color: #485E75;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  border: solid 1px #D3D9E5;
  height: 24px;
  padding: 0 12px;
  border-radius: 12px;
}
.secPartnerList .ctsBlock .ctsListG3 .listInfo .listItem .ListBadge {
  width: 86px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.secPartnerList .ctsBlock .ctsListG3 .listInfo .listItem .ListBadge img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1040px) {
  .secPartnerList .secInr {
    max-width: 100vw;
  }
  .secPartnerList .ctsBlock .ctsList .listInfo .listItem .ListBadge {
    width: 8.2692307692vw;
  }
}
@media screen and (max-width: 768px) {
  .secPartnerList {
    padding: 48px 20px;
  }
  .secPartnerList .md-secHead .secTtl {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
  }
  .secPartnerList .md-secHead .secLead {
    font-size: 18px;
    margin-top: 20px;
  }
  .secPartnerList .secPartnerListTabWrap {
    max-width: 100%;
    margin: 24px auto 0;
    height: 70px;
    border-radius: 35px;
    padding: 8px;
  }
  .secPartnerList .secPartnerListTabWrap .secPartnerListTab a {
    text-align: center;
    height: 54px;
    border-radius: 27px;
    font-size: 16px;
    line-height: 1.2;
  }
  .secPartnerList .secPartnerListTabWrap .secPartnerListTab a:first-child {
    border-radius: 27px 0 0 27px;
  }
  .secPartnerList .secPartnerListTabWrap .secPartnerListTab a:last-child {
    border-radius: 0 27px 27px 0;
  }
  .secPartnerList .secInr .secCts {
    margin-top: 40px;
  }
  .secPartnerList .ctsBlock {
    padding: 40px 17px 20px;
  }
  .secPartnerList .ctsBlock + .ctsBlock {
    margin-top: 40px;
  }
  .secPartnerList .ctsBlock .blockTtl {
    font-size: 27px;
    line-height: 1.2;
  }
  .secPartnerList .ctsBlock .blockLead {
    font-size: 16px;
  }
  .secPartnerList .ctsBlock .blockCts {
    padding: 20px 0;
  }
  .secPartnerList .ctsBlock .ctsList {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .secPartnerList .ctsBlock .ctsList .listInfo .listItem .itemInr .itemTag span {
    padding: 0 8px;
  }
  .secPartnerList .ctsBlock .ctsList .listInfo .listItem .ListBadge {
    width: 56px;
  }
  .secPartnerList .ctsBlock .ctsList + .ctsListG3 {
    margin-top: 32px;
  }
  .secPartnerList .ctsBlock .ctsListG3 {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .secPartnerList .ctsBlock .ctsListG3 .listInfo .listItem .itemInr .itemTag span {
    padding: 0 8px;
  }
  .secPartnerList .ctsBlock .ctsListG3 .listInfo .listItem .ListBadge {
    width: 86px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  .secPartnerList .ctsBlock .ctsListG3 .listInfo .listItem .ListBadge img {
    width: 100%;
    height: auto;
  }
}
.secTotopLink {
  position: absolute;
  right: 60px;
  bottom: 60px;
  z-index: 1;
}
.secTotopLink a {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: solid 2px #0098BB;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secTotopLink a svg {
  border-radius: 20px;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 768px) {
  .secTotopLink {
    display: none;
  }
}
