/**
 * フッター用CSS - 本番準拠
 */

/* ======================
   Footer Container
   ====================== */
.footer,
.foot-nav-wrapper {
	background-color: #f1f5f9;
	padding: 80px 0 60px;
}

.foot-nav.container {
	max-width: 1144px;
	width: 89.5%;
	margin: 0 auto;
}

/* ======================
   Main Grid Layout
   ====================== */
.foot-nav > .uk-flex {
	display: flex;
	flex-wrap: wrap;
}

/* ======================
   Logo Column (Left)
   ====================== */
.foot-nav .f-logo {
	width: 50%;
}

.foot-nav .f-logo a {
	display: inline-block;
}

.foot-nav .f-logo > a > img {
	width: 160px;
	height: auto;
}

.foot-nav .pmark {
	margin-top: 30px;
}

.foot-nav .pmark img {
	width: 130px;
	height: auto;
}

/* ======================
   Navigation Columns
   ====================== */
.foot-nav .tit-box {
	margin-bottom: 25px;
}

.foot-nav .tit-box h6 {
	font-size: 1em;
	font-weight: bold;
	color: #112d48;
	margin: 0;
	line-height: 1.5;
}

.foot-nav .tit-box h6 small {
	display: block;
	font-size: 0.75em;
	font-weight: bold;
	color: #66657c;
	margin-bottom: 12px;
	line-height: 1.33;
	letter-spacing: 0.12px;
}

.foot-nav .tit-box h6 a {
	color: #112d48;
	text-decoration: none;
}

.foot-nav .tit-box h6 a:hover {
	color: #00aed4;
}

.foot-nav .tit-box span {
	display: none;
}

/* ======================
   Nav List
   ====================== */
.f-nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.f-nav-list li {
	font-size: 0.8125em;
	line-height: 2.46;
	letter-spacing: 1px;
	text-align: left;
}

.f-nav-list li a {
	color: #66657c;
	text-decoration: none;
	transition: color 0.3s ease;
}

.f-nav-list li a:hover {
	color: #00aed4;
}

/* ======================
   Sub Navigation
   ====================== */
.f_s_nav {
	width: 100%;
	margin-top: 80px;
}

.f_s_nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.f_s_nav ul li {
	padding-right: 1rem;
	font-size: 0.75em;
	color: #66657c;
}

.f_s_nav ul li a {
	color: #66657c;
	text-decoration: none;
}

.f_s_nav ul li a:hover {
	color: #00aed4;
}

/* ======================
   Copyright
   ====================== */
.f-copyright,
.f-copyright.uk-grid-margin {
	text-align: left;
	margin-top: 20px;
}

.f-copyright small {
	font-size: 10px;
	font-weight: lighter;
	line-height: 1.5;
	letter-spacing: 0.77px;
	color: #66657c;
	font-family: 'Barlow', sans-serif;
}

/* ======================
   Mobile (768px以下)
   ====================== */
@media only screen and (max-width: 768px) {
	.footer,
	.foot-nav-wrapper {
		padding: 60px 0 30px;
	}

	.foot-nav.container {
		width: 100%;
		padding: 0 6.4%;
	}

	/* Logo - hidden on mobile */
	.foot-nav .f-logo {
		display: none;
	}

	/* Grid Reset */
	.foot-nav .uk-grid > * {
		padding-left: 0;
	}

	.foot-nav .uk-grid {
		margin-left: 0;
	}

	/* Title Box - Accordion Style */
	.foot-nav .tit-box {
		position: relative;
		margin-bottom: 12px;
	}

	.foot-nav .tit-box h6 small {
		display: none;
	}

	.foot-nav .tit-box span {
		display: inline;
		position: absolute;
		right: 0;
		top: 0;
		color: #66657c;
	}

	.foot-nav .tit-box span.open i:before {
		content: "\f106";
	}

	/* Nav List */
	.f-nav-list {
		display: none;
	}

	.f-nav-list.is-show {
		display: block;
	}

	/* Sub Nav */
	.f_s_nav {
		margin-top: 40px;
	}

	.f_s_nav ul {
		display: block;
	}

	.f_s_nav ul li {
		display: inline;
		font-size: 1em;
	}

	/* Copyright */
	.f-copyright small {
		font-size: 10px;
		color: #c3cbcd;
	}
}

/* ======================
   Desktop min-width 1280px
   ====================== */
@media only screen and (min-width: 1280px) {
	.foot-nav.container {
		max-width: 1144px;
		width: 100%;
	}
}
