/**
 * CTA Download Section - 資料ダウンロード
 * sections/cta-download.php
 */

.bnr_dl_cta {
	margin: 6.25vw 0 0;
	padding: 0 35.5% 0 calc((100% - 89.5%) / 2);
	background-color: var(--accent-dark);
	position: relative;
}

.bnr_dl_cta.bnr_page {
	padding: var(--spacing-l) 0;
}

.bnr_dl_cta .bn-wrap {
	display: flex;
}

.bnr_dl_cta .img-box {
	width: 35.5%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.bnr_dl_cta .img-box img {
	width: 100%;
	height: auto;
}

.bnr_dl_cta .txt-box {
	padding: 7.81vw 0 6.25vw;
}

.bnr_dl_cta .txt-box > * {
	text-align: left;
	color: var(--light-white);
}

.bnr_dl_cta .txt-box h4,
.bnr_dl_cta.bnr_page h4 {
	font-size: 1.75em;
	letter-spacing: 0.14px;
	margin-bottom: var(--spacing-s);
	color: var(--light-white);
}

.bnr_dl_cta.bnr_page h4,
.bnr_dl_cta.bnr_page p {
	color: var(--light-white);
}

.bnr_dl_cta .txt-box .b1 {
	color: var(--light-white);
	line-height: 1.8;
}

.bnr_dl_cta .txt-box .btn-box {
	margin-top: 56px;
}

.bnr_dl_cta.bnr_page .btn-box {
	text-align: center;
	margin-top: var(--spacing-m);
}

.bnr_dl_cta .btn_dl {
	background-color: #ff6262;
	color: var(--light-white);
}

.bnr_dl_cta .btn_dl:hover {
	background-color: #ff7a7a;
	color: var(--light-white);
}

/* Medium Screen */
@media only screen and (max-width: 1279px) {
	.bnr_dl_cta {
		padding: 0 0 0 calc((100% - 89.5%) / 2);
	}

	.bnr_dl_cta .bn-wrap {
		justify-content: space-between;
		align-items: flex-end;
	}

	.bnr_dl_cta .img-box {
		position: relative;
		width: 50%;
	}

	.bnr_dl_cta .txt-box {
		width: calc(100% - 455px);
		padding-right: 5%;
	}
}

/* Mobile */
@media only screen and (max-width: 767px) {
	.bnr_dl_cta {
		padding: var(--spacing-l) 6%;
	}

	.bnr_dl_cta .bn-wrap {
		display: block;
	}

	.bnr_dl_cta .img-box {
		position: relative;
		width: 100%;
	}

	.bnr_dl_cta .txt-box {
		width: 100%;
		padding: 0 0 var(--spacing-l);
	}

	.bnr_dl_cta .txt-box h4 {
		font-size: 1.5em;
	}

	.bnr_dl_cta.bnr_page h4 {
		font-size: 1.75em;
	}

	.bnr_dl_cta .txt-box .btn-box {
		margin-top: var(--spacing-m);
	}

	.bnr_dl_cta .txt-box .btn-box .btn {
		width: 100%;
		max-width: 400px;
	}
}
