/**
 * FAQ Section - よくある質問
 * sections/faq.php
 */

/* ======================
   Section Container
   ====================== */
.faq {
	padding: 80px 0;
	background-color: #fff;
}

.faq .container_s {
	max-width: 900px;
	width: 89.5%;
	margin: 0 auto;
}

.faq h2 {
	margin-bottom: 40px;
	text-align: center;
	font-size: 2.375em;
	font-weight: bold;
	color: #112d48;
}

/* ======================
   FAQ List
   ====================== */
.faq-index-wrap {
	list-style: none;
	padding: 0;
	margin: 0;
}

.faq-index-wrap > li {
	font-size: 1em;
	padding: 24px 0;
	border-bottom: #d3d9e5 1px solid;
}

.faq-index-wrap > li:first-child {
	border-top: #d3d9e5 1px solid;
}

/* ======================
   Accordion Title
   ====================== */
.faq-index-wrap li a.uk-accordion-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.125em;
	color: #112d48;
	font-weight: bold;
	text-decoration: none;
	position: relative;
}

.faq-index-wrap li a.uk-accordion-title h3 {
	font-size: 1em;
	margin: 0;
	line-height: 1.6;
	flex: 1;
	padding-right: 20px;
}

/* ======================
   Accordion Content
   ====================== */
.faq-index-wrap li .uk-accordion-content {
	padding-top: 16px;
	margin-top: 0;
}

.faq-index-wrap li .uk-accordion-content p {
	color: #66657c;
	line-height: 1.8;
	font-size: 1em;
	margin: 0;
}

.faq-index-wrap li .uk-accordion-content .btn {
	margin-top: 16px;
	display: inline-block;
}

.faq .uk-accordion > :nth-child(n+2) {
	margin-top: 0;
}

/* ======================
   Accordion Icon
   ====================== */
.faq .uk-accordion-title::before {
	content: "";
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	background-image: url(https://icongr.am/fontawesome/chevron-down.svg?size=20&color=57c2e9);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: transform 0.3s ease;
}

.faq .uk-open > .uk-accordion-title::before {
	background-image: url(https://icongr.am/fontawesome/chevron-up.svg?size=20&color=57c2e9);
}

/* ======================
   Mobile (767px以下)
   ====================== */
@media only screen and (max-width: 767px) {
	.faq {
		padding: 60px 0;
	}

	.faq .container_s {
		width: 100%;
		padding: 0 6.4%;
	}

	.faq h2 {
		font-size: 1.75em;
		margin-bottom: 24px;
	}

	.faq-index-wrap > li {
		padding: 20px 0;
	}

	.faq-index-wrap li a.uk-accordion-title {
		font-size: 1em;
	}

	.faq-index-wrap li a.uk-accordion-title h3 {
		font-size: 1em;
	}

	.faq-index-wrap li .uk-accordion-content p {
		font-size: 0.9375em;
	}

	.faq-index-wrap li .btn {
		width: 100%;
		max-width: 400px;
	}
}
