/**
 * Hero Section - メインビジュアル + 資料請求フォーム
 * sections/hero.php
 */

.top .hero.page-title.wrapper {
	width:100%;
	background-color: #00abdc;
}

.top .hero.page-title.wrapper .hero-body {
	display: flex;
	justify-content: center;
	width:100%;
	padding:0 0 0 calc((100% - 89.5%) / 2);
	margin:0 auto;
}

.top .hero.page-title.wrapper .hero-body .container_l {
	width:64%;
	padding:85px 1.6% 0 0;
	background: url("../img/meetignroom_kv.svg") no-repeat right 14px bottom;
	background-size: 49% auto;
	margin:0;
}

.mv_txt-box * {
	color: var(--light-white);
}

.mv_txt-box h4 {
	font-size:1.5em;
	font-weight: bold;
	text-align: left;
}

.mv_txt-box h2 {
	font-size:3.25em;
	margin:var(--spacing-s) 0 0;
	font-weight: bold;
	letter-spacing: 0.52px;
	text-align: left;
}

.mv_img-box {
	width:56.3%;
	margin-top:calc(3*var(--spacing-s));
}

.mv_img-box img {
	width:100%;
}

.top .hero.page-title.wrapper .hero-body .container_r {
	width:36%;
	background: var(--light-white);
	padding:35px 3.1%;
}

.top .hero.page-title.wrapper .hero-body .container_r h4 {
	font-size:1.3125em;
	font-weight:bold;
	margin-bottom:22px;
}

/* Form Styles */
.kv-form-wrap {
	border: solid 1px var(--light-divider);
	border-radius: 0.5rem;
	margin-bottom: 2rem;
}

.kv-form-wrap > div {
	padding:0.75rem 1rem;
}

.kv-form-wrap > div div.uk-flex > span:first-child {
	width:50%;
	padding-right:1rem;
	border-right:1px solid var(--light-divider);
}

.kv-form-wrap > div div.uk-flex > span:last-child {
	width:50%;
	padding-left:1rem;
}

.kv-form-wrap > div:not(:last-of-type) {
	border-bottom: solid 1px var(--light-divider);
}

.kv-form-wrap label {
	display: block;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	color: var(--light-gray-dark);
}

.kv-form-wrap input {
	display: block;
}

.kv-form-wrap input[type="text"] {
	width: 100%;
	font-size: 1.6rem;
	border: none;
}

.select {
	border: none;
	font-size: 1.6rem;
	color: var(--light-gray-dark);
}

input::placeholder,
textarea::placeholder {
	color: var(--light-gray);
}

.kv-form-plicy {
	border: solid 1px var(--light-divider);
	border-radius: 0.5rem;
	padding: 1.0rem;
	margin-bottom: 2rem;
	font-size: 1.1rem;
	overflow: auto;
	height: 48px;
	color: var(--light-gray-dark);
}

.kv-form-agree {
	color: var(--light-gray-dark);
	font-size: 1.0rem;
	margin-bottom: 1.5rem;
	display: flex;
	align-items: center;
}

/* Checkbox Styles */
input[type="checkbox"] {
	visibility: hidden;
}

input[type="checkbox"] + label {
	position:relative;
	padding: 5px 0 5px 30px;
	cursor:pointer;
}

input[type="checkbox"] + label:before {
	width:16px;
	height:16px;
	left:5px;
	border:1px solid var(--light-divider);
	border-radius:3px;
	margin-top:-8px;
}

input[type="checkbox"] + label:after,
input[type="checkbox"] + label:before {
	position:absolute;
	content:"";
	top:50%
}

input[type=checkbox]:checked + label::before {
	background: var(--accent-default);
	border-color: var(--accent-default);
}

input[type="checkbox"] + label::after {
	position: absolute;
	content:url("https://icongr.am/fontawesome/check.svg?size=16&color=FFFFFF");
	margin-top: -8px;
	opacity: 0;
	left:5px;
	color:#FFF;
}

input[type=checkbox]:checked + label::after {
	opacity: 1;
}

.kv-form input:focus {
	outline: 0;
}

/* Submit Button */
input[type="submit"],
input[type="button"] {
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	width:100%;
	margin-top:2rem;
	height:48px;
	line-height:48px;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
	display: none;
}

input[type="submit"]:focus,
input[type="button"]:focus {
	outline-offset: -2px;
}

.kv-form input[type="submit"] {
	background: #FF706E;
	color: #fff;
	border-radius: 0.3rem;
	border: none;
	width: 100%;
	padding: 1.4rem;
	font-weight: bold;
	transition: all .3s;
}

.kv-form input[type="submit"]:hover {
	cursor: pointer;
	opacity: 0.6;
}

/* Large Screen */
@media only screen and (min-width: 1440px) {
	.top .hero.page-title.wrapper .hero-body {
		display: flex;
		justify-content:space-between;
		width: 100%;
		padding: 0 0 0 67px;
		margin: 0 auto;
	}
	.top .hero.page-title.wrapper .hero-body .container_l {
		width:64%;
		padding:85px 1.6% 0 0;
		background: url("../img/meetignroom_kv.svg") no-repeat right 14px bottom;
		background-size: 49% auto;
	}
	.top .hero.page-title.wrapper .hero-body .container_r {
		background: var(--light-white);
	}
}

/* Mobile */
@media screen and (max-width: 767px) {
	.top .hero.page-title.wrapper .hero-body {
		display:block;
		width: 100%;
		padding: 0 0 var(--spacing-m);
		margin: 0 auto;
	}
	.top .hero.page-title.wrapper .hero-body .container_l {
		width: 100%;
		padding:var(--spacing-s) 3% 0;
		background: url(../img/meetignroom_kv.svg) no-repeat right 6% bottom;
		background-size: 30% auto;
	}
	.mv_txt-box h4 {
		margin: var(--spacing-s) auto;
		font-size: 1.125em;
		font-weight: bold;
		line-height: 1.6;
		letter-spacing: 0.09px;
		text-align: center;
	}
	.mv_txt-box h2 {
		margin: var(--spacing-s) auto 0;
		font-size: 2em;
		line-height: 1.3;
		text-align: center;
	}
	.mv_img-box {
		width: 60%;
		margin: calc(3*var(--spacing-s)) 7.6% 0;
	}
	.top .hero.page-title.wrapper .hero-body .container_r {
		width: 94%;
		margin:0 auto;
		background: var(--light-white);
		padding: var(--spacing-m) 3.5% 30px;
		border-radius: 10px;
	}
	.top .hero.page-title.wrapper .hero-body .container_r h4 {
		font-size: 1.125em;
		font-weight: bold;
		margin-bottom:var(--spacing-m);
		text-align: center;
	}
	.kv-form {
		width: 100%;
		padding: 4rem 2rem;
	}
	.kv-form h2 {
		font-size: 2.4rem;
		margin-bottom: 2rem;
	}
	.kv-form-wrap {
		border: solid 1px #d2e9e7;
		border-radius: 0.5rem;
		margin-bottom: 2rem;
	}
	.kv-form input[type="submit"] {
		padding: 2rem 0;
		font-size: 2.4rem;
	}
	input[type="checkbox"] + label {
		padding: 5px 0 5px 24px;
	}
	input[type="checkbox"] + label:before {
		left: 0;
	}
	input[type="checkbox"] + label::after {
		opacity: 0;
		left: 1px;
	}
}
