/**
 * Multi-tenant Section - マルチテナント機能
 * sections/multi-tenant.php
 */

/* ======================
   Section Container
   ====================== */
.sec05:not(.rec-space) {
	padding: 80px 0;
	background-color: #fff;
}

.sec05:not(.rec-space) h3 {
	margin-bottom: 20px;
	text-align: center;
	font-size: 2.375em;
	font-weight: bold;
	color: #112d48;
}

.sec05:not(.rec-space) > .container > .b1 {
	text-align: center;
	margin-bottom: 40px;
	color: #66657c;
}

/* ======================
   Content Wrapper
   ====================== */
.sec05 .normal-index-wrap {
	max-width: 1144px;
	margin: 0 auto;
}

.sec05 .normal-index-box figure {
	margin: 0;
}

.sec05 .normal-index-box figure img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.sec05 .normal-index-box .b1 {
	font-size: 0.8em;
	padding-top: 10px;
	text-align: left;
	color: #66657c;
	line-height: 1.6;
}

/* ======================
   Mobile (767px以下)
   ====================== */
@media screen and (max-width: 767px) {
	.sec05:not(.rec-space) {
		padding: 36px 6%;
	}

	.sec05:not(.rec-space) h3 {
		font-size: 1.5em;
		margin-bottom: 12px;
	}

	.sec05:not(.rec-space) > .container > .b1 {
		font-size: 0.875em;
		text-align: left;
		margin-bottom: 20px;
	}

	.sec05 .normal-index-box {
		margin-bottom: 20px;
	}

	.sec05 .normal-index-box .b1 {
		font-size: 0.75em;
	}
}
