/**
 * Service Section - サービス一覧
 * sections/service.php
 */

.service-index-wrap {
	background-color: var(--light-gray-lightest);
	padding: var(--spacing-l) 0 110px;
}

.service-index-wrap h3 {
	margin-bottom: var(--spacing-m);
}

.service-index-wrap .uk-grid {
	margin-top: var(--spacing-m);
	max-width: 1144px;
	margin-left: auto;
	margin-right: auto;
}

.service-index-wrap .card-box {
	padding: 0 15px;
}

.service-index-wrap .card-box .uk-card {
	box-shadow: 20px 20px 20px 0 rgba(125, 134, 136, 0.1);
	border: solid 1px var(--light-gray-lightest);
	background-color: var(--light-white);
	border-radius: 10px;
	padding: 0;
	transition: transform 0.5s ease;
}

.service-index-wrap .card-box .uk-card:hover {
	transform: translateY(-10px);
}

.service-index-wrap .card-box .uk-card a {
	display: block;
	padding: 30px;
	text-decoration: none;
}

.service-index-wrap .card-box .tit-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.service-index-wrap .card-box .tit-box .icon-box {
	max-width: 55px;
	width: 18.5%;
	aspect-ratio: 1 / 1;
	margin: 0 var(--spacing-s) 10px 0;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.service-index-wrap .card-box .tit-box .icon-box img {
	width: 90%;
}

.service-index-wrap .card-box .tit-box h3 {
	width: 80%;
	font-size: 1.75em;
	letter-spacing: 0.14px;
}

.service-index-wrap .card-box .tit-box h3 small {
	font-size: 0.428em;
	display: block;
	line-height: 1.33;
	letter-spacing: 0.12px;
	text-align: left;
	color: var(--light-gray-dark);
}

.service-index-wrap .card-box .img-box {
	margin-top: var(--spacing-s);
}

.service-index-wrap .card-box .img-box img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
	.service-index-wrap {
		padding: var(--spacing-l) 6%;
	}

	.service-index-wrap .card-box {
		padding: 0;
		margin-bottom: var(--spacing-s);
	}

	.service-index-wrap .card-box .tit-box h3 {
		font-size: 1.25em;
	}
}
