@charset "UTF-8";
/* CSS Document */
header{
	padding: 10px 0;
}
.container_r h3{
	font-size: 22px;
}
.fb_wrapper .contact .form-box input{
	text-align: left;
}
.fb_wrapper .contact{
	padding:20px;
	box-sizing: border-box;
	border-radius: 15px;
}
.fb_wrapper .contact form .form-box label{
	text-align: left;
}
.main{
	margin: 0 auto;
    max-width: 620px;
    width: 100%;
    text-align: center;
}
.main .fv img{
	width: 100%;
	height: auto;
}
h2{
	font-size: 24px;
	color:#FB4E4E;
    font-weight: bold;
}
.kadai{
	padding: 0 10px;
    box-sizing: border-box;
}
.kadai li{
	width: 100%;
	padding: 20px 20px 20px 30px;
	background: #fdd8de;
	border-radius: 10px;
	list-style: none;
	font-weight: bold;
	box-sizing: border-box;
	font-size: 18px;
	margin: 15px 0;
	text-align: left;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.kaiketsu{
	font-size: 29px;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 30px;
	line-height: 1.8em;
}
.fv_text{
	font-size: 29px;
    line-height: 1.5em;
	font-weight: bold;
	padding: 20px 0;
}
.cta{
	padding-top: 30px;
	font-size: 20px;
	color: #ffbb36;
	font-weight: bold;
}
img.logo{
display: block;
	width: 70%;
	margin: 20px auto;
}
img.arrow{
display: block;
	width: 37%;
	margin: 40px auto 0;
}
.sp{
	display: none;
}
@media screen and (max-width:480px){
.sp{
	display: block;
}
.fb_wrapper .contact form input#agreement{
	width: auto;
}
}